<div class="card" style="width:13rem;margin:1rem">
  <img
    src="{{this.image}}"
    class="card-img-top"
    style="width:10rem;margin:auto"
  />
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <b>$ {{this.price}}</b>
    <hr />
    <b class="mt-2">
      Stock:
      <span class="fw-light">{{this.stock}}</span>
    </b>
  </div>
</div>